# Dependencies
/vendor/
/composer.lock

# Environment
.env

# Caches
.php-cs-fixer.cache
.phpunit.cache/
.phpunit.result.cache

# Configuration overrides (local only)
phpstan.neon
phpunit.xml

# Reports and Coverage
clover.xml
coverage-report/
reports/
